<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.menustoolbars">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MenusToolbars">
        <activity
            android:name=".Ej07NavigationDrawerActivity"
            android:exported="false"
            android:theme="@style/Theme.MenusToolbars.NoBar"/>
        <activity
            android:name=".Ej06AtrasMenuToolBarActivity"
            android:exported="false"
            android:theme="@style/Theme.MenusToolbars.NoBar" />
        <activity
            android:name=".Ej05ToolBarActivity"
            android:exported="false"
            android:theme="@style/Theme.MenusToolbars.NoBar" />
        <activity
            android:name=".Ej042ContextMenuActivity"
            android:exported="false" />
        <activity
            android:name=".Ej04ContextMenuActivity"
            android:exported="false" />
        <activity
            android:name=".Ej03AtrasActivity"
            android:exported="false">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <!--
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.menustoolbars.MainActivity" />
            -->
        </activity>
        <activity
            android:name=".Ej02OptionsMenusItemsActivity"
            android:exported="false" />
        <activity
            android:name=".Ej01OptionsMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>